html, body
  margin: 0
  padding: 0

ul, li
  list-style: none
  margin: 0
  padding: 0

div
  box-sizing: border-box

img
  max-width: 100%
  height: auto
  max-height: 100%

img[lazy=loading]
  width: 20px
  height: 20px
  max-height: 20px

button
  appearance: none
  border: none
  outline: none
  cursor: pointer

@font-face
  font-family: wtf
  src: url('assets/font/Futuram.ttf')

@font-face
  font-family: avr
  src: url('assets/font/AvenirNext-Regular.ttf')

@font-face
  font-family: avrH
  src: url('assets/font/AvenirNext-Bold.ttf')