// --------------------------
//   Layout
// --------------------------


.grid-wrapper
  width: 100%
  display: flex
  justify-content: flex-start
  flex-flow: row wrap


.grid
  margin-bottom: 80px
  width: calc((100% - 20px) / 3)
  max-height: 100%
  &:not(:nth-of-type(3n))
    margin-right: 10px

@media screen and (max-width: 1023px)
  .grid
    width: calc((100% - 10px) / 2)
    height: 100%
    margin-bottom: 20px
    &:not(:nth-of-type(3n))
      margin-right: 0
    &:not(:nth-of-type(2n))
      margin-right: 10px

@media screen and (max-width: 540px)
  .grid
    width: 100%
    &:not(:nth-of-type(2n)),
    &:not(:nth-of-type(3n))
      margin-right: 0
