// Base
@import '_normalize'
@import '_base'
@import '_layout'



@keyframes ani-fadeIn
  0%
    opacity: 0
  100%
    opacity: 1



.category
  animation: ani-fadeIn 1s
  animation-fill-mode: forwards