<template lang="pug">
  div
    .product.amazon
    .product-text I love Rachel <3
</template>

<script>
export default {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">

.product-text
  padding-top: 30px
  color: #888
  text-align: center
  font-size: 14px

.product
  position: relative
  width: 100%
  height: 400px
  box-sizing: border-box
  background-size: cover
  background-position: center
  cursor: pointer
  &:hover
    .card-layer
      opacity: 1
  &.bike
    background-image: url('https://images.unsplash.com/photo-1497515098781-e965764ab601?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ba1e7d2e2dced5b4c5dc79b792d1e8c9&auto=format&fit=crop&w=2208&q=80')
  &.speaker
    background-image: url('https://images.unsplash.com/photo-1436473849883-bb3464c23e93?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9bc1f167484fc4fc410a10818fe51a72&auto=format&fit=crop&w=2250&q=80')
  &.amazon
    background-image: url('https://images.unsplash.com/photo-1518444065439-e933c06ce9cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b5625f6fd6feaf34cc3e2a3e28dbf40&auto=format&fit=crop&w=1934&q=80')
  &.flyer
    background-image: url('https://images.unsplash.com/photo-1523132797263-747d5d0dbbb3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6fe1894f372c749a51b95115f54e8286&auto=format&fit=crop&w=1934&q=80')
  &.chair
    background-image: url('https://images.unsplash.com/photo-1505843490538-5133c6c7d0e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd7421500ebb37b5081ae17c3b77a8f4&auto=format&fit=crop&w=3150&q=80')

</style>
