<template lang="pug">
  .category
    .grid-wrapper(v-for="menu in menuList" v-if="menu.menuName.url === 'engadget'")
      .grid(v-for="subMenu in menu.menuName.subMenu")
        .card-title {{ subMenu.tab }}
        .card(@click="menuPath(`${menu.menuName.url}/${subMenu.url}`)")
          img.img.img--n(v-lazy="subMenu.img")
          img.img.img--h(:src="`${subMenu.imgH}`")

</template>

<script>

import MenuList from '@/config/menuList.js'

export default {
  props: ['evt'],

  data() {
    return {
      menuList: MenuList
    }
  },

  methods: {
    menuPath(path , currentPage) {
      if(this.evt) {
        this.evt(currentPage)
        this.$router.push(path)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">

.card
  position: relative
  width: 100%
  max-height: 100%
  box-sizing: border-box
  background-size: cover
  background-position: center
  cursor: pointer
  &:hover
    .img--n
      display: none
    .img--h
      width: auto
      display: block

.img--h
  display: none

.card-title
  font-size: 18px
  font-family: avr
  padding-bottom: 10px
  animation: ani-fadeIn 1s
  animation-fill-mode: forwards

@media screen and (max-width: 767px)
  .card
    &:hover
      .img--n
        display: block
      .img--h
        display: none

</style>

