<template lang="pug">
  .section This is sport2
</template>

<script>
export default {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

.section
  background-color: #369
  height: 100%
  color: white

</style>
