<template lang="pug">
  .section This is sport1
</template>

<script>
export default {
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

.section
  background-color: #ddd
  height: 100%
  color: #333

</style>
