<template lang="pug">
  header.header
    a.header-title(@click="menuPath('/', '/')") C. Wen Yu
      .header-subTitle Industrial Designer
</template>

<script>
export default {
  props: ['evt'],
  data() {
    return {
      currentPath: ''
    }
  },
  methods: {
    menuPath(path) {
      if(this.evt) {
        this.evt(path)
        this.$router.push(path)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">

.header
  text-align: right
  padding-right: 120px

.header-title
  display: block
  padding: 50px 0
  font-size: 14px
  color: #222222
  font-weight: bolder
  cursor: pointer
  font-family: wtf

.header-subTitle
  line-height: 2em

@media screen and (max-width: 1023px)
  .header
    width: 300px
    height: 100px
    text-align: center
    padding: 0
    margin: 0 auto

  .header-subTitle
    display: none

</style>
