<template lang="pug">
  nav.menu
    button.btn-menu-mobile(
      @click="getMainFixed()"
      :class="{'is-active': isOpenMenu }") 三
    .menu-wrap(:class="{'is-active': isOpenMenu}")
      ul.menu-list
        li.menu-item(
          v-for="menu in menuList")
          a.menu-item-title(
            @click="menuPath(`/${menu.menuName.url}`, menu.menuName.url), isOpenMenu = false, checkFixed()"
            :class="{'is-active': isCurrentMenu === menu.menuName.url}") {{ menu.menuName.tab }}
          ul
            li.menu-subItem(
              v-for="(subMenu, key) in menu.menuName.subMenu")
              a.menu-subItem-title(
                @click="menuPath(`/${menu.menuName.url}/${subMenu.url}`, subMenu.url), isOpenMenu = false"
                :class="{'is-active': isCurrentMenu === subMenu.url}") {{ subMenu.tab }}

</template>

<script>

import MenuList from '@/config/menuList'

export default {
  props: ['activePath', 'evt', 'checkFixed'],
  data() {
    return {
      menuList: MenuList,
      isCurrentMenu: '',
      cacheRoute: '',
      isOpenMenu: false
    }
  },
  watch: {
    '$route': 'cachePath'
  },
  methods: {
    menuPath(path, currentPage) {
      if(this.evt) {
        this.evt(currentPage)
        this.$router.push(path)
      }
    },
    cachePath() {
      this.isCurrentMenu = this.$route.name
    },
    getMainFixed() {
      this.isOpenMenu = !this.isOpenMenu
      let fixedMain = this.isOpenMenu
      this.checkFixed(fixedMain)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">

.menu
  padding-right: 120px

.btn-menu-mobile
  display: none

.menu-list
  text-align: right

.menu-item
  margin-bottom: 20px

.menu-item-title
  width: 100%
  font-size: 16px
  color: #777
  cursor: pointer
  transition: color .3s
  font-family: avr
  display: inline-block
  position: relative
  padding-bottom: 10px
  &.is-active,
  &:hover
    color: #222
  &.is-active
    font-family: avrH

.menu-subItem-title
  width: 100%
  display: inline-block
  font-family: avr
  font-size: 13px
  color: #bbb
  transition: color .3s
  cursor: pointer
  position: relative
  padding-bottom: 10px
  &.is-active,
  &:hover
    color: #222
  &.is-active
    font-family: avrH
    &::before
      width: 0
      height: 0
      position: absolute
      right: -26px
      top: 1px
      border-color: transparent #222 transparent
      border-style: solid
      border-width: 5px 0 5px 6px
      content: ''

@media screen and (max-width: 1023px)
  .menu-wrap
    padding: 0
    position: fixed
    top: 0
    left: 0
    padding-top: 120px
    width: 100vw
    height: 100vh
    background-color: #fff
    display: none
    z-index: 1
    &.is-active
      display: block

  .menu-list
    height: calc(100vh - 120px)
    overflow: scroll
    ul
      display: none

  .menu-item
    margin-bottom: 20px
    width: 100%
    text-align: center

  .menu-item-title
    line-height: 32px

  .btn-menu-mobile
    display: block
    float: right
    position: absolute
    right: 10px
    top: 45px
    font-size: 20px
    z-index: 2
    &.is-active
      position: fixed


</style>
