<template lang="pug">
  #app
    .container
      .aside
        Header(:evt="getPath")
        Menu(:activePath="activePath", :evt="getPath", :checkFixed="checkFixed")
      .main(:class="{ 'is-fixed': isFixed }")
        router-view(:evt="getPath")
</template>

<script>
import Header from '@/components/header'
import Menu from '@/components/menu'

export default {
  name: 'App',

  data() {
    return {
      activePath: '',
      isFixed: false
    }
  },

  components: {
    Header,
    Menu
  },

  methods: {
    getPath(currentPath) {
      this.activePath = currentPath
    },
    checkFixed(sth) {
      this.isFixed = sth
    }
  }
}
</script>

<style lang="sass">
@import './assets/style/application.sass'

.container
  max-width: 1400px
  margin: 0 auto
  padding: 0 10px
  display: flex
  justify-content: center
  flex-flow: row nowrap

.main
  width: 75%

.aside
  width: 25%

.category
  padding-top: 145px

@media screen and (max-width: 1023px)
  .container
    flex-flow: row wrap

  .aside
    width: 100%

  .main
    width: 100%
    &.is-fixed
      position: fixed

  .category
    padding-top: 45px

</style>
